.main-orca-content {
    padding: 1.5rem;
    background-color: rgb(245, 252, 248);
    opacity: 0.8;
}

.orca-album{
    display: block;
    text-align: center;
}

.image-container{
    width: 600px;
    height: 900px;
    overflow: hidden;
    border: 4px solid rgb(33, 56, 48);
}

#norwegian-orca__photo {
    grid-area: norwegian;
}

#alaska-orca__photo {
    grid-area: alaska;
    height: 100%;
}

.organizations-list{
    list-style: none;    
    padding-left: 0;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}

.organizations-list li {
    display: block;
    margin-right: 6rem;
    margin-top: 4rem;
}

h2 {
    margin-top: 3rem;
}

.logo-container{
    height: 8rem;
    margin: 1rem;
    min-width: fit-content;
}

.logo-container img{
    height: 100%;
    width: 150px;
}

@media (min-width: 40rem) {
    .organizations-list li {
        display: inline-block;
    }
    .orca-album div{
        display: inline-block;
        margin-right: 2px;
    }
}